# This is an example of a .env file for the application.


MONGO_URI=mongodb://<mongo_url>
# Note: The MONGO_URI should be in the format mongodb://<username>:<password>@<host>:<port>/<database>

JWT_SECRET=<your_jwt_secret>
# Note: The JWT_SECRET should be at least 64 characters long for security purposes.

PORT=<your_port>
# Note: The PORT should be a valid port number (e.g., 3000, 8080).

FRONTEND_URL=<your_frontend_url>
# Note: The FRONTEND_URL should be the URL of your frontend application (e.g., http://localhost:5173).

EMAIL_USER=<your_email_user>
# Note: The EMAIL_USER should be the email address you want to use for sending emails.

EMAIL_PASS=<your_email_pass>
# Note: The EMAIL_PASS should be the password for the email address you are using.

# Make sure to keep the .env file private and do not share it publicly.
